@font-face {
  font-family: Inter;
  src: url("../src/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

body {
  background: white;
}

@import "tailwindcss";

.container {
  width: 100%;
  max-width: 1282px;
}
